.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.canHolder{
  /* display: flex;
  justify-content: center; */
}

.can{
  border:red solid 1px;
  margin-top:2vh;
  
}
/* target bar stuff */
.TargetBar{
  margin: auto;
  width:50%;
  border:red solid 1px;
}
.nameMob{
  border:1px red solid;
  box-sizing: border-box;
}
.hpHolder{
  height:3vh;
  border:1px red solid;
  box-sizing: border-box;
  background-color: darkred;
}
.hp{ /*the actual bar*/
  height:100%;
  width:100%;
  background-color: red;
}

/* character bars */
.charUI{
  border:solid black 1px;
  width:50%;
  height: 20vh;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
}
.yourBars{
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
}
.hpHolderChar{
  height:50%;
  box-sizing: border-box;
  width:50%;
  background-color: darkred;
}
.hpChar{
  height:100%;
  width:100%;
  background-color: red;
}

.mpHolderChar{
  height:50%;
  box-sizing: border-box;
  width:50%;
  background-color: purple;
}
.mpChar{
  height:100%;
  width:100%;
  background-color: magenta;
}

.defHolderChar{
  height:70%;
  box-sizing: border-box;
  width:100%;
  background-color:transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.def{
  background: gray;
  box-sizing: border-box;
  width: 20%;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
